$primary-doa: (
  prim-0: #1d021a,
  prim-1: #481842,
  prim-2: #310a2c,
  prim-3: #0e000c,
  prim-4: #030003
);

$accent-doa: (
  acc-0: #212803,
  acc-1: #566421,
  acc-2: #38430e,
  acc-3: #0f1300,
  acc-4: #040500
);

$base-colors: (
  doa-blue-green: #607d8b,
  doa-dark: #37474f,
  doa-peach: #90a4ae,
  doa-off-peach: lighten(#90a4ae, 15),
  doa-accent: #f7b633
);

$lt-grey: #cecece;

@each $prop, $val in $primary-doa {
  .bg-#{$prop} {
    background-color: $val !important;
  }
  .fg-#{$prop} {
    color: $val !important;
  }
}

@each $prop, $val in $accent-doa {
    .bg-#{$prop} {
      background-color: $val !important;
    }
    .fg-#{$prop} {
      color: $val !important;
    }
  }

@each $name, $hex in $base-colors {
  .bg-#{$name} {
    background-color: $hex !important;
  }
}

.card-grey {
  background-color: rgba(60, 60, 60, 0.5);
  color: #efefef;

  h1,h2,h3,h4,h5 {
    color: #cecece;
  }
}
.card-orange {
  background-color: rgba(255, 51, 0, 0.4);
  color:#bababa;

  h1,h2,h3,h4,h5 {
    color: #bababa;
  }
}
